@using Microsoft.AspNetCore.Mvc.Localization
@using LeptonXLite.DemoApp.Localization
@inject IHtmlLocalizer<DemoAppResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
