table.dataTable {
  width: 100%;
}
table.dataTable thead .dt-orderable:after,
table.dataTable thead .dt-orderable-asc:after,
table.dataTable thead .dt-orderable-desc:after,
table.dataTable thead .dt-orderable-asc:after,
table.dataTable thead .dt-orderable-desc:after {
  display: inline-block !important;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 5px;
  transition: color 0.3s;
  position: relative !important;
  bottom: 0px !important;
  left: 0.125rem !important;
  display: none !important;
}
table.dataTable thead .dt-orderable:before,
table.dataTable thead .dt-orderable-asc:before,
table.dataTable thead .dt-orderable-desc:before,
table.dataTable thead .dt-orderable-asc:before,
table.dataTable thead .dt-orderable-desc:before {
  display: none !important;
}
table.dataTable thead .dt-orderable:after {
  content: "\f282" !important;
  color: #686b6e !important;
}
table.dataTable thead .dt-orderable-asc:after {
  content: "\f282" !important;
  color: var(--lpx-brand) !important;
  opacity: 1 !important;
}
table.dataTable thead .dt-orderable-desc:after {
  content: "\f286" !important;
  color: var(--lpx-brand) !important;
  opacity: 1 !important;
}
table.dataTable thead .dt-orderable-asc-none:before,
table.dataTable thead .dt-orderable-desc-none:before,
table.dataTable thead .dt-orderable-asc-none:after,
table.dataTable thead .dt-orderable-desc-none:after {
  content: "\f282" !important;
  color: #686b6e !important;
  opacity: 0.15 !important;
}
table.dataTable thead .sorting {
  cursor: pointer !important;
}
table.dataTable thead th {
  border-bottom: 1px solid #e7e9ec;
  padding-left: 0.75rem !important;
  padding-right: 1.5rem !important;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 400;
  color: rgba(104, 107, 110, 0.65);
  transition: color 0.3s;
  text-transform: uppercase;
  font-size: 0.875em;
  letter-spacing: 0.75px;
}
table.dataTable thead th .dt-column-order {
  right: 5px !important;
}
table.dataTable thead th.sorting:hover, table.dataTable thead th.sorting.dt-orderable-asc, table.dataTable thead th.sorting.dt-orderable-desc {
  color: #686b6e;
}
table.dataTable thead th .form-check-input {
  width: 18px;
  height: 18px;
}
table.dataTable thead td {
  padding: 0.5rem 1rem !important;
  border-bottom: 1px solid #e7e9ec;
}
table.dataTable thead .dt-orderable,
table.dataTable thead .dt-orderable-asc,
table.dataTable thead .dt-orderable-desc,
table.dataTable thead .dt-orderable-asc-none,
table.dataTable thead .dt-orderable-desc-none {
  cursor: pointer !important;
  *cursor: hand !important;
  background: none !important;
}
table.dataTable tfoot th,
table.dataTable tfoot td {
  border-top: 1px solid #e7e9ec;
  padding: 0.5rem 0.75rem;
  font-weight: 400;
  opacity: 0.5;
  transition: opacity 0.3s, color 0.3s;
  text-transform: uppercase;
  font-size: 0.875em;
  letter-spacing: 0.75px;
}
table.dataTable tbody tr {
  background-color: #ffffff;
}
table.dataTable tbody tr.selected {
  background-color: #f5f5f7;
}
table.dataTable tbody tr th,
table.dataTable tbody tr td {
  border-color: #e7e9ec;
  padding: 0.875rem 0.75rem;
}
table.dataTable tbody tr th .btn,
table.dataTable tbody tr td .btn {
  padding: 0.375rem 0.75rem;
  font-size: 0.875em;
}
table.dataTable tbody tr td i.fa.fa-check {
  color: #4fbf67;
}
table.dataTable tbody tr td i.fa.fa-times {
  color: #c00d49;
}
table.dataTable td.dt-control {
  cursor: pointer;
}
table.dataTable td.dt-control:before {
  background-color: #4fbf67;
  color: #686b6e;
  border: 0.15em solid #e7e9ec;
  border-radius: 0.5rem;
  box-shadow: 0 0 20px 0 rgba(76, 87, 125, 0.02);
}
table.dataTable tr.dt-hasChild td.dt-control:before {
  content: "-";
  background-color: #c00d49;
}
table.dataTable.row-border tbody tr {
  transition: background-color 0.2s;
}
table.dataTable.row-border tbody tr:first-child th,
table.dataTable.row-border tbody tr:first-child td {
  border-top: none;
}
table.dataTable.row-border tbody tr th,
table.dataTable.row-border tbody tr td {
  border-top: 1px solid #e7e9ec;
  transition: background-color 0.2s;
}
table.dataTable.display tbody th,
table.dataTable.display tbody td {
  border-top: 1px solid #e7e9ec;
}
table.dataTable.display tbody tr:first-child th,
table.dataTable.display tbody tr:first-child td {
  border-top: none;
}
table.dataTable.display tbody tr > .sorting_1,
table.dataTable.display tbody tr > .sorting_2,
table.dataTable.display tbody tr > .sorting_3 {
  background: none;
  font-weight: 400;
  color: #161616;
}
table.dataTable.display tbody tr:hover {
  background-color: #f5f5f7 !important;
}
table.dataTable.display tbody tr:hover > .sorting_1,
table.dataTable.display tbody tr:hover > .sorting_2,
table.dataTable.display tbody tr:hover > .sorting_3 {
  background: none;
  color: #161616;
}
table.dataTable.display tbody tr:hover.selected {
  background-color: #f5f5f7 !important;
}
table.dataTable.display tbody tr:hover.selected > .sorting_1,
table.dataTable.display tbody tr:hover.selected > .sorting_2,
table.dataTable.display tbody tr:hover.selected > .sorting_3 {
  background: none;
  color: #161616;
}
table.dataTable.display tbody tr.odd {
  background-color: rgba(245, 245, 247, 0.35);
}
table.dataTable.display tbody tr.odd > .sorting_1,
table.dataTable.display tbody tr.odd > .sorting_2,
table.dataTable.display tbody tr.odd > .sorting_3 {
  background: none;
  color: #161616;
}
table.dataTable.display tbody tr.odd.selected {
  background-color: rgba(245, 245, 247, 0.65);
}
table.dataTable.display tbody tr.odd.selected > .sorting_1,
table.dataTable.display tbody tr.odd.selected > .sorting_2,
table.dataTable.display tbody tr.odd.selected > .sorting_3 {
  background: none;
  color: #161616;
}
table.dataTable.display tbody tr.selected > .sorting_1,
table.dataTable.display tbody tr.selected > .sorting_2,
table.dataTable.display tbody tr.selected > .sorting_3 {
  background: none;
  color: #161616;
}
table.dataTable.display tbody tr.even > .sorting_1,
table.dataTable.display tbody tr.even > .sorting_2,
table.dataTable.display tbody tr.even > .sorting_3 {
  background: none;
  color: #161616;
}
table.dataTable.display tbody tr.even.selected > .sorting_1,
table.dataTable.display tbody tr.even.selected > .sorting_2,
table.dataTable.display tbody tr.even.selected > .sorting_3 {
  background: none;
  color: #161616;
}
table.dataTable.cell-border tbody tr th,
table.dataTable.cell-border tbody tr td {
  border-top: 1px solid #e7e9ec;
  border-right: 1px solid #e7e9ec;
}
table.dataTable.cell-border tbody tr th:first-child,
table.dataTable.cell-border tbody tr td:first-child {
  border-left: 1px solid #e7e9ec;
}
table.dataTable.stripe tbody tr.odd {
  background-color: rgba(245, 245, 247, 0.35);
}
table.dataTable.stripe tbody tr.odd.selected {
  background-color: rgba(245, 245, 247, 0.35);
}
table.dataTable.hover tbody tr:hover {
  background-color: rgba(245, 245, 247, 0.35);
}
table.dataTable.hover tbody tr:hover.selected {
  background-color: #f5f5f7;
}
table.dataTable.order-column tbody tr > .sorting_1,
table.dataTable.order-column tbody tr > .sorting_2,
table.dataTable.order-column tbody tr > .sorting_3 {
  background-color: #ffffff;
}
table.dataTable.order-column tbody tr.selected > .sorting_1,
table.dataTable.order-column tbody tr.selected > .sorting_2,
table.dataTable.order-column tbody tr.selected > .sorting_3 {
  background-color: #f5f5f7;
}
table.dataTable.order-column.stripe tbody tr.odd > .sorting_1,
table.dataTable.order-column.stripe tbody tr.odd > .sorting_2,
table.dataTable.order-column.stripe tbody tr.odd > .sorting_3 {
  background-color: rgba(245, 245, 247, 0.35);
}
table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_1,
table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_2,
table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_3 {
  background-color: rgba(245, 245, 247, 0.5);
}
table.dataTable.order-column.stripe tbody tr.even > .sorting_1,
table.dataTable.order-column.stripe tbody tr.even > .sorting_2,
table.dataTable.order-column.stripe tbody tr.even > .sorting_3 {
  background-color: #ffffff;
}
table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_1,
table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_2,
table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_3 {
  background-color: rgba(245, 245, 247, 0.5);
}
table.dataTable.order-column.hover tbody tr:hover > .sorting_1,
table.dataTable.order-column.hover tbody tr:hover > .sorting_2,
table.dataTable.order-column.hover tbody tr:hover > .sorting_3 {
  background-color: rgba(245, 245, 247, 0.35);
}
table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_1,
table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_2,
table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_3 {
  background-color: rgba(245, 245, 247, 0.5);
}
table.dataTable.dt-empty-footer {
  border-bottom: 1px solid #e7e9ec;
}
table.dataTable.compact thead th,
table.dataTable.compact thead td,
table.dataTable.compact tfoot th,
table.dataTable.compact tfoot td,
table.dataTable.compact tbody th,
table.dataTable.compact tbody td {
  padding: 0.5rem 0.75rem;
}

.dt-container {
  border-radius: 0.5rem;
  background: #ffffff;
  box-shadow: 0 0 20px 0 rgba(76, 87, 125, 0.02);
  padding: 1.5rem !important;
  width: 100%;
}
.dt-container .dt-length {
  color: #686b6e;
}
.dt-container .dt-length select {
  background-color: #f5f5f7;
  border-radius: 0.5rem;
  transition: background-color 0.2s, border-color 0.4s;
  border-color: #f5f5f7;
  padding: 0.375rem 3rem 0.375rem 0.75rem !important;
}
.dt-container .dt-length select:hover, .dt-container .dt-length select:focus {
  border-color: #e7e9ec;
}
.dt-container .dt-length label {
  font-size: 0.875em;
}
.dt-container .dataTables_filter {
  color: #686b6e;
  margin-bottom: 0;
}
.dt-container .dataTables_filter input {
  background-color: #f5f5f7;
  border-radius: 0.5rem;
  transition: background-color 0.2s, border-color 0.4s;
  border-color: #f5f5f7;
  padding: 0.375rem 0.75rem !important;
}
.dt-container .dataTables_filter input:hover, .dt-container .dataTables_filter input:focus {
  border-color: #e7e9ec;
}
.dt-container .dt-info {
  clear: both;
  float: left;
  padding: 0.5rem 1rem !important;
  color: #686b6e;
  opacity: 0.65;
  font-size: 0.875em;
}
.dt-container .dt-paging {
  float: right;
  text-align: right;
  padding-top: 0;
  color: #686b6e;
}
.dt-container .dt-paging .dt-paging-button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: #686b6e;
  border: 1px solid transparent;
  border-radius: 0.5rem;
}
.dt-container .dt-paging .dt-paging-button:hover {
  color: #fff !important;
  border: 1px solid #e7e9ec;
  background-color: #ffffff;
}
.dt-container .dt-paging .dt-paging-button:active {
  outline: none;
  border: 1px solid #e7e9ec;
  background-color: #ffffff;
}
.dt-container .dt-paging .dt-paging-button.current {
  color: #686b6e;
  border: 1px solid #e7e9ec;
  background-color: #ffffff;
}
.dt-container .dt-paging .dt-paging-button.current:hover {
  color: #686b6e;
  border: 1px solid #e7e9ec;
  background-color: #ffffff;
}
.dt-container .dt-paging .dt-paging-button.disabled {
  cursor: default;
  color: #666 !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}
.dt-container .dt-paging .dt-paging-button.disabled:hover {
  cursor: default;
  color: #666 !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}
.dt-container .dt-paging .dt-paging-button.disabled:active {
  cursor: default;
  color: #666 !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}
.dt-container .dt-paging .ellipsis {
  padding: 0 1em;
}
.dt-container .dt-processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 40px;
  margin-left: -50%;
  margin-top: -25px;
  padding-top: 20px;
  text-align: center;
  font-size: 1.2em;
  background-color: #f5f5f7;
  color: #686b6e;
}
.dt-container .dt-scroll {
  clear: both;
}
.dt-container .dt-scroll div.dt-scroll-body {
  *margin-top: -1px;
  -webkit-overflow-scrolling: touch;
  min-height: 285px;
}
.dt-container .dt-scroll div.dt-scroll-body > table > thead > tr > th {
  vertical-align: middle;
}
.dt-container .dt-scroll div.dt-scroll-body > table > thead > tr > th > div.dataTables_sizing {
  height: 0;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}
.dt-container .dt-scroll div.dt-scroll-body > table > thead > tr > td {
  vertical-align: middle;
}
.dt-container .dt-scroll div.dt-scroll-body > table > thead > tr > td > div.dataTables_sizing {
  height: 0;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}
.dt-container .dt-scroll div.dt-scroll-body > table > tbody > tr > th {
  vertical-align: middle;
}
.dt-container .dt-scroll div.dt-scroll-body > table > tbody > tr > th > div.dataTables_sizing {
  height: 0;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}
.dt-container .dt-scroll div.dt-scroll-body > table > tbody > tr > td {
  vertical-align: middle;
}
.dt-container .dt-scroll div.dt-scroll-body > table > tbody > tr > td > div.dataTables_sizing {
  height: 0;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}
.dt-container .dt-scroll th,
.dt-container .dt-scroll td {
  white-space: nowrap;
}
.dt-container:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
.dt-container.dt-empty-footer div.dt-scroll-head table.dataTable {
  border-bottom: none;
  table-layout: fixed;
}
.dt-container.dt-empty-footer div.dt-scroll-body {
  border-bottom: 0 !important;
}
.dt-container.dt-empty-footer div.dt-scroll-body > table {
  border-bottom: none;
}
@media screen and (max-width: 767px) {
  .dt-container .dt-info {
    float: none;
    text-align: center;
  }
  .dt-container .dt-paging {
    float: none;
    text-align: center;
    margin-top: 0.5em;
  }
}
@media screen and (max-width: 640px) {
  .dt-container .dt-length {
    float: none;
    text-align: center;
  }
  .dt-container .dataTables_filter {
    float: none;
    text-align: center;
    margin-top: 0.5em;
  }
}

.dt-scroll-body table.dataTable thead th {
  border: 0px !important;
  height: 0px !important;
  overflow: hidden !important;
}
.dt-scroll-body table.dataTable thead th:after {
  display: none !important;
}

.tab-content .dt-container,
.card .dt-container,
.modal-body .dt-container {
  background: none;
  box-shadow: none;
  padding: 0 !important;
}

.dataTable tbody tr td div.dropdown ul.dropdown-menu li:hover {
  background: #f5f5f7;
  color: #161616;
}
.dataTable tbody tr td div.dropdown ul.dropdown-menu li:hover a {
  color: #161616;
}

.dataTable_footer {
  margin-top: 1em !important;
}

.dt-scroll {
  margin-bottom: 1em !important;
}

.lpx-theme-dark .daterangepicker {
  border-color: var(--lpx-border-color) !important;
}
.lpx-theme-dark .daterangepicker:before {
  border-bottom-color: var(--lpx-border-color);
}
.lpx-theme-dark .daterangepicker:after {
  border-bottom-color: var(--lpx-content-bg);
}
.lpx-theme-dark .daterangepicker .drp-calendar {
  background: var(--lpx-content-bg);
}
.lpx-theme-dark .daterangepicker .calendar-table {
  border: 1px solid var(--lpx-border-color);
  background: var(--lpx-content-bg);
  box-shadow: 1px 0 0 var(--lpx-content-bg), -1px 0 0 var(--lpx-content-bg), 0 1px 0 var(--lpx-content-bg), 0 -1px 0 var(--lpx-content-bg), 0 3px 13px rgba(27, 27, 27, 0.08);
}
.lpx-theme-dark .daterangepicker .calendar-table th,
.lpx-theme-dark .daterangepicker .calendar-table td {
  color: var(--lpx-content-text);
}
.lpx-theme-dark .daterangepicker .calendar-table .next span,
.lpx-theme-dark .daterangepicker .calendar-table .prev span {
  border-color: var(--lpx-content-text);
}
.lpx-theme-dark .daterangepicker .calendar-table select.monthselect,
.lpx-theme-dark .daterangepicker .calendar-table select.yearselect {
  color: #eee;
  background-color: #121212;
  border: 1px solid var(--lpx-border-color);
  padding: 0.2rem;
  border-radius: 0.3rem;
}
.lpx-theme-dark .daterangepicker .calendar-table td.start-date,
.lpx-theme-dark .daterangepicker .calendar-table td.end-date {
  background-color: #357ebd !important;
  border-color: transparent;
  color: #fff;
}
.lpx-theme-dark .daterangepicker .calendar-table td.off,
.lpx-theme-dark .daterangepicker .calendar-table td.off.in-range,
.lpx-theme-dark .daterangepicker .calendar-table td.off.start-date,
.lpx-theme-dark .daterangepicker .calendar-table td.off.end-date {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.2);
}
.lpx-theme-dark .daterangepicker .calendar-table td.available.off:hover,
.lpx-theme-dark .daterangepicker .calendar-table td.available.off.in-range:hover,
.lpx-theme-dark .daterangepicker .calendar-table td.available.off.start-date:hover,
.lpx-theme-dark .daterangepicker .calendar-table td.available.off.end-date:hover {
  color: rgba(255, 255, 255, 0.5) !important;
}
.lpx-theme-dark .daterangepicker .calendar-table td.available:hover,
.lpx-theme-dark .daterangepicker .calendar-table th.available:hover {
  color: var(--lpx-content-bg) !important;
}
.lpx-theme-dark .daterangepicker .calendar-table td.available.active:hover {
  color: #fff !important;
}
.lpx-theme-dark .daterangepicker .calendar-table td.in-range {
  color: #fff;
  background: #1b1b1b;
}
.lpx-theme-dark .daterangepicker .calendar-table td.in-range.available:hover {
  color: #fff !important;
}
.lpx-theme-dark .daterangepicker .calendar-time select.hourselect,
.lpx-theme-dark .daterangepicker .calendar-time select.minuteselect,
.lpx-theme-dark .daterangepicker .calendar-time select.secondselect,
.lpx-theme-dark .daterangepicker .calendar-time select.ampmselect {
  background: var(--lpx-content-bg);
  border-color: var(--lpx-border-color) !important;
  color: var(--lpx-content-text);
}
.lpx-theme-dark .drp-buttons {
  border-color: var(--lpx-border-color);
  background: var(--lpx-content-bg);
}

.swal-modal {
  border-radius: 0.5rem;
  box-shadow: 0 0 20px 0 rgba(76, 87, 125, 0.02);
  border: 0;
  animation: none !important;
  transition: all 0.2s ease-in-out;
}
.swal-modal .swal-footer {
  padding: 1rem;
  margin-top: 30px;
  background: #f5f5f7;
}
.swal-modal .swal-footer .swal-button-container {
  margin: 0;
}
.swal-modal .swal-footer .swal-button-container .swal-button {
  padding: 4px 12px;
  margin-left: 10px;
  color: #fff;
  background-color: #355dff;
  border-color: #355dff;
  border-radius: 0.5rem;
}
.swal-modal .swal-footer .swal-button-container .swal-button:hover, .swal-modal .swal-footer .swal-button-container .swal-button:focus, .swal-modal .swal-footer .swal-button-container .swal-button:active, .swal-modal .swal-footer .swal-button-container .swal-button:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: rgba(104, 107, 110, 0.1);
  border-color: rgba(104, 107, 110, 0.1);
  box-shadow: none;
}
.swal-modal .swal-title {
  font-size: 18px;
  color: #686b6e;
  word-break: break-word;
}
.swal-modal .swal-text {
  font-size: 14px;
  color: #686b6e;
  word-break: break-word;
}
.swal-modal .swal-icon {
  transform: scale(0.6);
  margin-bottom: -5px;
}

.swal-overlay {
  background: rgba(104, 107, 110, 0.1);
}

.datepicker table td {
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 0.5rem;
  font-size: 0.925em;
  border: none;
}
.datepicker table td:hover {
  background: #e7e9ec !important;
}
.datepicker table td.active, .datepicker table td.selected {
  background: var(--lpx-brand) !important;
  color: #fff !important;
}
.datepicker table td.active:hover, .datepicker table td.selected:hover {
  background: var(--lpx-brand) !important;
}
.datepicker table td.range {
  background: #e7e9ec !important;
  color: #686b6e !important;
}
.datepicker table td.range:hover {
  background: #e7e9ec !important;
}
.datepicker table th {
  width: 40px;
  height: 40px;
  border-radius: 0.5rem;
  border: none;
  font-size: 0.95em;
}

.lpx-theme-dark .daterangepicker {
  border-color: var(--lpx-border-color) !important;
}
.lpx-theme-dark .daterangepicker:before {
  border-bottom-color: var(--lpx-border-color);
}
.lpx-theme-dark .daterangepicker:after {
  border-bottom-color: var(--lpx-content-bg);
}
.lpx-theme-dark .daterangepicker .drp-calendar {
  background: var(--lpx-content-bg);
}
.lpx-theme-dark .daterangepicker .calendar-table {
  border: 1px solid var(--lpx-border-color);
  background: var(--lpx-content-bg);
  box-shadow: 1px 0 0 var(--lpx-content-bg), -1px 0 0 var(--lpx-content-bg), 0 1px 0 var(--lpx-content-bg), 0 -1px 0 var(--lpx-content-bg), 0 3px 13px rgba(27, 27, 27, 0.08);
}
.lpx-theme-dark .daterangepicker .calendar-table th,
.lpx-theme-dark .daterangepicker .calendar-table td {
  color: var(--lpx-content-text);
}
.lpx-theme-dark .daterangepicker .calendar-table .next span,
.lpx-theme-dark .daterangepicker .calendar-table .prev span {
  border-color: var(--lpx-content-text);
}
.lpx-theme-dark .daterangepicker .calendar-table select.monthselect,
.lpx-theme-dark .daterangepicker .calendar-table select.yearselect {
  color: #eee;
  background-color: #121212;
  border: 1px solid var(--lpx-border-color);
  padding: 0.2rem;
  border-radius: 0.3rem;
}
.lpx-theme-dark .daterangepicker .calendar-table td.start-date,
.lpx-theme-dark .daterangepicker .calendar-table td.end-date {
  background-color: #357ebd !important;
  border-color: transparent;
  color: #fff;
}
.lpx-theme-dark .daterangepicker .calendar-table td.off,
.lpx-theme-dark .daterangepicker .calendar-table td.off.in-range,
.lpx-theme-dark .daterangepicker .calendar-table td.off.start-date,
.lpx-theme-dark .daterangepicker .calendar-table td.off.end-date {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.2);
}
.lpx-theme-dark .daterangepicker .calendar-table td.available.off:hover,
.lpx-theme-dark .daterangepicker .calendar-table td.available.off.in-range:hover,
.lpx-theme-dark .daterangepicker .calendar-table td.available.off.start-date:hover,
.lpx-theme-dark .daterangepicker .calendar-table td.available.off.end-date:hover {
  color: rgba(255, 255, 255, 0.5) !important;
}
.lpx-theme-dark .daterangepicker .calendar-table td.available:hover,
.lpx-theme-dark .daterangepicker .calendar-table th.available:hover {
  color: var(--lpx-content-bg) !important;
}
.lpx-theme-dark .daterangepicker .calendar-table td.available.active:hover {
  color: #fff !important;
}
.lpx-theme-dark .daterangepicker .calendar-table td.in-range {
  color: #fff;
  background: #1b1b1b;
}
.lpx-theme-dark .daterangepicker .calendar-table td.in-range.available:hover {
  color: #fff !important;
}
.lpx-theme-dark .daterangepicker .calendar-time select.hourselect,
.lpx-theme-dark .daterangepicker .calendar-time select.minuteselect,
.lpx-theme-dark .daterangepicker .calendar-time select.secondselect,
.lpx-theme-dark .daterangepicker .calendar-time select.ampmselect {
  background: var(--lpx-content-bg);
  border-color: var(--lpx-border-color) !important;
  color: var(--lpx-content-text);
}
.lpx-theme-dark .drp-buttons {
  border-color: var(--lpx-border-color);
  background: var(--lpx-content-bg);
}

.swal2-popup {
  border-radius: 0.5rem !important;
  background: #ffffff !important;
  color: #686b6e !important;
}
.swal2-popup .swal2-title {
  color: #161616;
}
.swal2-popup .swal2-styled {
  border-radius: 0.5rem !important;
}

#toast-container > div {
  opacity: 0.95 !important;
}
#toast-container .toast {
  border-radius: 0.5rem;
  box-shadow: 0 0 20px 0 rgba(76, 87, 125, 0.02);
  color: #686b6e;
}
#toast-container .toast:hover {
  box-shadow: 0 0 20px 0 rgba(76, 87, 125, 0.02);
}
#toast-container .toast.toast-success {
  background-color: #4fbf67;
}
#toast-container .toast.toast-info {
  background-color: #438aa7;
}
#toast-container .toast.toast-error {
  background-color: #c00d49;
}
#toast-container .toast.toast-warning {
  background-color: #ff9f38;
}
#toast-container .toast .toast-title {
  color: white;
  font-size: 1rem;
}
#toast-container .toast .toast-message {
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.875rem;
}
#toast-container .toast .toast-message a,
#toast-container .toast .toast-message a:hover {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}
#toast-container .toast .toast-message .btn {
  background: #eeeeee;
  border-color: #eeeeee;
  color: #161616;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem !important;
  font-size: 0.875rem;
}

.CodeMirror {
  background: #eeeeee !important;
  color: #161616 !important;
}
.CodeMirror .CodeMirror-gutters {
  border-color: var(--lpx-border-color) !important;
  background-color: var(--lpx-card-bg) !important;
}

.toastui-editor-defaultUI {
  border-color: var(--lpx-border-color) !important;
}
.toastui-editor-defaultUI .toastui-editor-md-tab-container {
  background: rgba(var(--lpx-light-rgb), 0.3) !important;
  border-bottom: 1px solid var(--lpx-border-color) !important;
}
.toastui-editor-defaultUI .toastui-editor-md-tab-container .tab-item {
  color: rgba(var(--lpx-dark-rgb), 0.5) !important;
  border-color: var(--lpx-border-color) !important;
  background: var(--lpx-card-bg) !important;
  border: 1px solid #dadde6;
}
.toastui-editor-defaultUI .toastui-editor-md-tab-container .tab-item.active {
  color: #161616 !important;
}
.toastui-editor-defaultUI .toastui-editor-defaultUI-toolbar {
  background-color: rgba(var(--lpx-light-rgb), 0.3) !important;
  border-bottom-color: var(--lpx-border-color);
}
.toastui-editor-defaultUI .toastui-editor-defaultUI-toolbar button {
  border-color: var(--lpx-border-color);
}
.toastui-editor-defaultUI .toastui-editor-main {
  background-color: var(--lpx-card-bg) !important;
}
.toastui-editor-defaultUI .toastui-editor-main .ProseMirror {
  color: #161616 !important;
}
.toastui-editor-defaultUI .toastui-editor-mode-switch {
  border-color: var(--lpx-border-color) !important;
  background-color: rgba(var(--lpx-light-rgb), 0.3) !important;
}
.toastui-editor-defaultUI .toastui-editor-mode-switch .tab-item {
  background: gba(var(--lpx-light-rgb), 0.3) !important;
  color: rgba(var(--lpx-dark-rgb), 0.5) !important;
  border-color: var(--lpx-border-color) !important;
}
.toastui-editor-defaultUI .toastui-editor-mode-switch .tab-item.active {
  color: #161616 !important;
}
.toastui-editor-defaultUI .toastui-editor-ww-container {
  background-color: var(--lpx-card-bg) !important;
}

.vakata-context {
  background: var(--lpx-card-bg) !important;
  color: #161616 !important;
  border-color: rgba(var(--lpx-dark-rgb), 0.2) !important;
  box-shadow: none !important;
}
.vakata-context li.vakata-context-hover a {
  background-color: #eeeeee !important;
  box-shadow: 0 0 2px rgba(var(--lpx-dark-rgb), 0.5) !important;
}
.vakata-context li > a {
  color: #161616 !important;
  text-shadow: none !important;
}
.vakata-context li > a:hover {
  background-color: #eeeeee !important;
  box-shadow: 0 0 2px rgba(var(--lpx-dark-rgb), 0.5) !important;
}
.vakata-context li > a .vakata-contextmenu-sep {
  background: rgba(var(--lpx-dark-rgb), 0.2) !important;
  border-left: none !important;
}

.carousel .carousel-caption h5 {
  font-size: 2.5em;
  color: var(--lpx-card-title-text-color);
}
.carousel .carousel-caption p {
  font-size: 1.25em;
  color: var(--lpx-content-text);
}
.carousel .carousel-indicators [data-bs-target] {
  background-color: var(--lpx-card-title-text-color);
}
.carousel .carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23062a44'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.carousel .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23062a44'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.lpx-theme-dark .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23eee'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}
.lpx-theme-dark .carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23eee'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

body {
  scrollbar-color: #C1CCD5 #F7FAFB;
}

body.lpx-theme-dark {
  scrollbar-color: #5A5F68 #111314;
}

.uppy-Dashboard-innerWrap {
  background-color: var(--lpx-card-bg) !important;
  color: var(--lpx-card-title-text-color) !important;
}

.uppy-Dashboard-AddFiles-title {
  color: var(--lpx-card-title-text-color) !important;
}

.uppy-Dashboard-AddFilesPanel {
  background: var(--lpx-card-bg) !important;
}

.uppy-Dashboard-AddFiles {
  background: var(--lpx-card-bg) !important;
}

.uppy-StatusBar-actions {
  background-color: var(--lpx-card-bg) !important;
  color: var(--lpx-card-title-text-color) !important;
}

.uppy-DashboardContent-bar {
  background-color: var(--lpx-card-bg) !important;
  color: var(--lpx-card-title-text-color) !important;
}

/*# sourceMappingURL=js-bundle.css.map */
