@using Volo.Abp.Ui.Branding
@inject IBrandingProvider BrandingProvider

<a href="~/">
    <div class="lpx-brand-logo"></div>
    <div class="lpx-brand-name" style="left: 58px !important">@BrandingProvider.AppName</div>
</a>
