@using System.Globalization
@using Microsoft.AspNetCore.Http.Extensions
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.LeptonXLite.Languages

@model ThemeLanguageInfo
@{
	var returnUrl = System.Net.WebUtility.UrlEncode(Context.Request.GetEncodedPathAndQuery());
}

@if (Model.Languages.Count > 1 && Model.HasLanguages)
{
	<div class="lpx-language-selection dropdown" data-lpx-language-selection="something">
		<div class="dropdown-toggle"
		 role="button"
		 id="languageDropdown"
		 data-bs-toggle="dropdown"
		 aria-expanded="false">
			<i class="lpx-icon bi bi-globe"></i>
			<span>@(new CultureInfo(Model.CurrentLanguage.CultureName).TwoLetterISOLanguageName.ToUpperInvariant())</span>
		</div>
		<div class="dropdown-menu" aria-labelledby="languageDropdown">
			@{
				var seen = new HashSet<string>();
				var languages = Model.Languages.Select(language => seen.Add(language.TwoLetterISOLanguageName)
					? (language, language.TwoLetterISOLanguageName.ToUpper())
					: (language, language.CultureName.ToUpper())).ToList();
			}
			@foreach (var language in languages)
			{
				<a href="~/Abp/Languages/Switch?culture=@language.language.CultureName&uiCulture=@language.language.UiCultureName&returnUrl=@returnUrl"
				   class="dropdown-item"
				   data-lpx-language-option="@language.Item2">@language.language.DisplayName / @language.Item2</a>
			}
		</div>
	</div>
}
